<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;combustible_flooder - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/combustible_flooder.html#proc">Proc Details</a></header>
<main>
<h1>combustible_flooder <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/combustible_flooder.html">combustible_flooder</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/combustible_flooder.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;combustible_flooder.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/combustible_flooder.html#proc/attackby_react">attackby_react</a></th><td>Being attacked by something</td></tr>
            <tr><th><a href="datum/component/combustible_flooder.html#proc/flame_react">flame_react</a></th><td>Hotspot related flooding reaction.</td></tr>
            <tr><th><a href="datum/component/combustible_flooder.html#proc/flood">flood</a></th><td>Do the flooding.</td></tr></table><h2 id="proc">Proc Details</h2><h3 id="proc/attackby_react"><aside class="declaration">proc </aside>attackby_react<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/thing, /<a href="mob.html">mob</a>/user, params) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/combustible_flooder.dm#L52">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;combustible_flooder.dm 52"/></a></aside>
        </h3>
        <p>Being attacked by something</p><h3 id="proc/flame_react"><aside class="declaration">proc </aside>flame_react<aside>(/<a href="datum.html">datum</a>/source, exposed_temperature, exposed_volume) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/combustible_flooder.dm#L45">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;combustible_flooder.dm 45"/></a></aside>
        </h3>
        <p>Hotspot related flooding reaction.</p><h3 id="proc/flood"><aside class="declaration">proc </aside>flood<aside>(/<a href="mob.html">mob</a>/user, temp_amount) 
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/combustible_flooder.dm#L21">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;combustible_flooder.dm 21"/></a></aside>
        </h3>
        <p>Do the flooding.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/Skyrat-SS13/Skyrat-tg/tree/7b61bddbde4f7d3af36d9e1fcd896772751d45a6">7b61bdd</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
