<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;tippable - &#x2F;tg&#x2F; Station 13</title>
</head>
<body>
<header>
    <a href="index.html">&#x2F;tg&#x2F; Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/tippable.html#var">Var Details</a></header>
<main>
<h1>tippable <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/tippable.html">tippable</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 4"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/tippable.html#var/is_tipped">is_tipped</a></th><td>Whether the mob is currently tipped.</td></tr>
            <tr><th><a href="datum/component/tippable.html#var/post_tipped_callback">post_tipped_callback</a></th><td>Callback to additional behavior after successfully tipping the mob.</td></tr>
            <tr><th><a href="datum/component/tippable.html#var/post_untipped_callback">post_untipped_callback</a></th><td>Callback to additional behavior after being untipped.</td></tr>
            <tr><th><a href="datum/component/tippable.html#var/pre_tipped_callback">pre_tipped_callback</a></th><td>Callback to additional behavior before being tipped (on try_tip). Return anything from this callback to cancel the tip.</td></tr>
            <tr><th><a href="datum/component/tippable.html#var/self_right_time">self_right_time</a></th><td>Time it takes for the mob to right itself. Can be 0 for instant self-righting, or null, to never self-right.</td></tr>
            <tr><th><a href="datum/component/tippable.html#var/tip_time">tip_time</a></th><td>Time it takes to tip the mob. Can be 0, for instant tipping.</td></tr>
            <tr><th><a href="datum/component/tippable.html#var/untip_time">untip_time</a></th><td>Time it takes to untip the mob. Can also be 0, for instant untip.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/is_tipped"><aside class="declaration">var </aside>is_tipped
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L12">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 12"/></a></h3>
        <p>Whether the mob is currently tipped.</p><h3 id="var/post_tipped_callback"><aside class="declaration">var </aside>post_tipped_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L16">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 16"/></a></h3>
        <p>Callback to additional behavior after successfully tipping the mob.</p><h3 id="var/post_untipped_callback"><aside class="declaration">var </aside>post_untipped_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L20">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 20"/></a></h3>
        <p>Callback to additional behavior after being untipped.</p><h3 id="var/pre_tipped_callback"><aside class="declaration">var </aside>pre_tipped_callback
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L14">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 14"/></a></h3>
        <p>Callback to additional behavior before being tipped (on try_tip). Return anything from this callback to cancel the tip.</p><h3 id="var/self_right_time"><aside class="declaration">var </aside>self_right_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 10"/></a></h3>
        <p>Time it takes for the mob to right itself. Can be 0 for instant self-righting, or null, to never self-right.</p><h3 id="var/tip_time"><aside class="declaration">var </aside>tip_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 6"/></a></h3>
        <p>Time it takes to tip the mob. Can be 0, for instant tipping.</p><h3 id="var/untip_time"><aside class="declaration">var </aside>untip_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/Skyrat-SS13/Skyrat-tg/blob/7b61bddbde4f7d3af36d9e1fcd896772751d45a6/code/datums/components/tippable.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;tippable.dm 8"/></a></h3>
        <p>Time it takes to untip the mob. Can also be 0, for instant untip.</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/Skyrat-SS13/Skyrat-tg/tree/7b61bddbde4f7d3af36d9e1fcd896772751d45a6">7b61bdd</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/src/dmdoc/README.md">dmdoc 1.4.1</a></footer>
</body>
</html>
