.ClockResearch__IconContent {
  background-color: #110f09;
  padding: 6px;
  border: 1px solid #d4c03e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ClockResearch__Icon {
  width: 10em;
}
